<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pts3.sport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SportManagement"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChoixActivity" android:screenOrientation="landscape" />
        <activity android:name=".SportActivity" android:screenOrientation="landscape" />
        <activity android:name=".TypeEval" android:screenOrientation="landscape"/>
        <activity android:name=".SelectionEleve" android:screenOrientation="landscape"/>
        <activity android:name=".EvalActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activity.CardViewActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".activity.StepperActivity" android:screenOrientation="landscape"></activity>
    </application>

</manifest>